.footer__link-list {
    margin-right: 18px;
}
  
.footer__link-list:last-of-type {
    margin-right: 0;
}
  
@media screen and (max-width: 767px) {
    .footer__link-list {
      margin-right: 0px;
      margin-bottom: 32px;
}
  
.footer__link-list:last-of-type {
      margin-bottom: 48px;
    }
}